{% extends 'HedgeCommEmailBundle:Default:base.html.twig' %}

{% block title %}
Overview Lists
{% endblock %}

{% block body %}


{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<table>
<tr>
  <th>Secret</th>
  <th>Name</th>
  <th>Client</th>
  <th>Actions</th>
</tr>
{% for subscriberlist in subscriberlists %}
<tr>
  <td>{{ subscriberlist.secret }}</td>
  <td>{{ subscriberlist.name }}</td>
  <td>{{ subscriberlist.client.name }}</td>
  <td><a href="{{ path('subscriberlist_edit',{'id': subscriberlist.id}) }}">edit list</a>&nbsp; <a href="{{ path('subscriberlist_delete',{'id': subscriberlist.id}) }}">delete list</a></td>  
</tr>
{% endfor %}
</table>

<a href="{{ path('subscriberlist_create') }}">Add new subscriber list</a>
{% endblock %}
